[package]
name = "nyx-space"
build = "build.rs"
version = "2.0.0-beta-dev"
edition = "2021"
authors = ["Christopher Rabotin <christopher.rabotin@gmail.com>"]
description = "A high-fidelity space mission toolkit, with orbit propagation, estimation and some systems engineering"
homepage = "https://nyxspace.com"
documentation = "https://docs.rs/nyx-space/"
repository = "https://gitlab.com/nyx-space/nyx"
keywords = ["space", "mission", "design", "orbit", "estimation"]
categories = ["science", "simulation", "aerospace", "science::robotics"]
readme = "README.md"
license = "AGPL-3.0-or-later"
exclude = ["tests/GMAT_scripts/*", "examples", "data/*.gz", "data/*.png", "data/od_plots/", "rustfmt.toml", "de438s.xb", "Pipfile*", ".vscode/launch.json", "*.kst", "docs/*", "*.bsp", "data/tests/*"]

[badges]
maintenance = { status = "actively-developed" }
gitlab = { repository = "nyx-space/nyx", branch = "master" }

[dependencies]
nalgebra = "=0.32"
log = "0.4"
hifitime = { version = "3.8.2", features = ["std"] }
flate2 = { version = "1.0", features = ["rust_backend"], default-features = false }
serde = "1.0"
serde_derive = "1.0"
csv = "1"
hyperdual = "=1.2.0"
bytes = "1.0"
prost = "0.11"
prost-derive = "0.11"
rand = "0.8"
rand_distr = "0.4"
meval = "0.2"
rust-embed = "6"
toml = "0.7"
regex = "1.5"
rayon = "1.6"
lazy_static = "1.4.0"
approx = "0.5"
rand_pcg = "0.3"
pyo3 = {version = "0.18.0", optional = true, features = ["extension-module"]}
pyo3-log = {version = "0.8.2", optional = true}
numpy = {version = "0.18", optional = true}
indicatif = {version = "0.17", features = ["rayon"]}
rstats = "1.2.50"
thiserror = "1.0"
parquet = {version = "43.0.0", default-features = false, features = ["arrow", "brotli"]}
arrow = "43.0.0"
shadow-rs = {version = "0.23.0", default-features = false}
serde_yaml = "0.9.21"
whoami = "1.3.0"
either = {version = "1.8.1", features = ["serde"]}
num = "0.4.0"
enum-iterator = "1.4.0"
getrandom = {version = "0.2", features = ["js"]}
typed-builder = "0.15.0"

[dev-dependencies]
polars = {version = "0.31.1", features = ["parquet"]}
rstest = "0.18.1"
pretty_env_logger = "0.5"

[build-dependencies]
shadow-rs = "0.23.0"

[features]
default = []
python = ["pyo3", "pyo3-log", "hifitime/python", "numpy"]

[lib]
crate-type = ["cdylib", "rlib"]
name = "nyx_space"
